@charset "utf-8";

body {
	font: 100% Ubuntu, Helvetica, sans-serif;
	/* margin: 200; */
	padding: 200;
	text-align: center;
	color: #000000;
}

	.txtAlv {
		width: 150px;
		padding: 5px 10px 5px 10px;
		background-color: white;
		color: black;
		font-size: 16px;
	}

	.btnAlv {
		color: white;
		font-size: 16px;
		background: #3498db;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	}
  
	.btnAlv:hover {
		background: #3cb0fd;
		text-decoration: none;
	}

	.controlSection {
		width:100%;
		height:100%;
	}

	.tableButtons{
		margin: 0 auto;
	}


/* .VisualizationMainPage #mainContent {
	background: #FFFFFF;
}

.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 20 auto;
	text-align: left;
}

.VisualizationMainPage #algoControlSection
{
	background: #DDEEDD; 
	color:#000000; 
}

.VisualizationMainPage #generalAnimationControlSection
{
	background: #DDEEDD; 
	color:#006600;  
}*/

/*.VisualizationMainPage  #header { 
	background: #006633; 
	color:#ffCC33;
	padding: 0 10px 0 20px; 
  
} */
 
/* .VisualizationMainPage #header  A:visited 
{ 
	text-decoration:none;
	color:#ffCC33; 
}
	   
	   
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
	} */

/*.VisualizationMainPage #header A:link {
    text-decoration:none;
    color:#ffCC33;
}*/
	
/* .VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left;
}
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
} */

/*.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:#ffCC33;
}*/

/* .VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #footer { 
	padding: 0 10px;
    background: #006633; 
} 
.VisualizationMainPage #footer p {
	margin: 0; 	padding: 10px 0; 
}

EM {text-decoration: bold;} */

	